@using Blogy.Business.DTOS.UserDtos
@model LoginDto
@{
    Layout = null;
}
@await Component.InvokeAsync("_UserLayoutHeadComponent")

<div class="container">
    <h3>Giriş Yap</h3>
   <form method="post">
        <div class="form-group">
            <label>Kullanıcı Adı</label>
            <input type="text" asp-for="UserName" class="form-control" required />
        </div>
        <div class="form-group">
            <label>Şifre</label>
            <input type="password" asp-for="Password" class="form-control" required />
        </div>
        <br />
        <span class="text-danger">@Html.ValidationSummary()</span>
        <button class="btn btn-outline-success">Giriş Yap</button>
   </form>
</div>
